@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

/*Navegación con tab*/
*:focus-visible {
  outline: 3px solid #2563eb;
  outline-offset: 2px;
  border-radius: 4px;
}

/* Zoom accesible */
html {
  font-size: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}